/* ~~~~~~~~ Remove navbar bottom 1px border ~~~~~~~~~ */
 #tabbrowser-tabbox {
	box-shadow: none !important;
	outline: none !important;
}

/*Speaker icon larger and without background */
 .tab-icon-overlay {
    border: none !important;
    background-color: transparent !important;
    transform: scale(1.7) !important;
}

/* Speaker symbol white for sound */
 .tab-icon-overlay[soundplaying] {
    fill: #9ccfd8 !important;
}

/* Speaker symbol gray when muted */
 .tab-icon-overlay[muted] {
    fill: #eb6f92 !important;
}
